.title {
    background: #103559;
    border-radius: 1vw;
}


.text-dynamic {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    /* transition: font-size 0.2s ease-in-out; */
}

.title>h1 {
    font-weight: 700;
    font-size: 2vw;
    color: #FDFDFD;
}

.newrequest-newdefinition-button {
    background: #103559;
    border-radius: 1vw;
    min-width: max-content;
}

.button-text {
    font-size: 1vw;
    font-weight: 700;
    color: #FDFDFD;
}

.newrequest-newdefinition-button:hover, .title-option:hover {
    color: #FDFDFD;
    opacity: 0.8;
}

.table-size {
    height: 73vh;
}