.project-selection {
    width: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 1vw;
    border: 1px solid #777e82;
    border-radius: 1vw;
}

.login-subtitle {
    font-style: italic;
    font-weight: 300;
    font-size: 300%;
    position: fixed;
    font-size: 2vw;
}

.project-selection:hover {
    background-color: #12293e23;
}